html {
  background-color: #c9b5ab;
  font-family: 'PT Sans' , sans-serif;
}

h1 {
  color: #3f1622;
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  color: #3f1622;
  font-size: 1.125rem;
  line-height: 1.5
  font-weight: bold;
}

dl{
  font-family: georgia;
  line-height: 1.5;
}

nav a:link {
  color: #8f2440;
  font-weight: bold;
  font-size: 1.125rem;
}

header nav ol {
  list-style: none;
}

header nav a {
  text-decoration: none;
}

nav a:hover {
  background-color: #b42885;
  color: #8f2440;
}

img {
  width: 100%;
}

main figcaption {
  font-size: 0.8rem;
  font-family: georgia;
  text-align: center;
}

main p b {
  font-size: 1.5rem
  font-family: georgia;
}

body p {
  margin-top: 5;
  font-family: georgia;
  font-size: 0.8;
  margin-bottom: 5;
}

blockquote {
  font-family: georgia;
  font-size: 1.125rem;
}

article ol {
  list-style-type: lower-greek;
  font-family: georgia;
  line-height: 1.5;
}

footer a {
  text-decoration: none;
  color: #8f2440;
}

article dt {
  font-weight: bold;
}

aside ul {
  font-family: georgia;
  font-size: 0.8rem;
  line-height: 1.5;
  list-style-type: circle;
}
