html {
  background-color: #c9b5ab;
  font-family: 'PT serif';
}

h1 {
  color: #3f1622;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'PT Sans'
}

h2 {
  color: #3f1622;
  font-size: 1.125rem;
  line-height: 1.6rem;
  font-family: 'PT Sans'
}

dl {
  line-height: 1.5rem;
}

nav a:link {
  color: #8f2440;
  font-weight: bold;
  font-size: 1.125rem;
  font-family: 'PT Sans'
}

header nav ol {
  list-style: none;
}

header nav a {
  text-decoration: none;
}

a:hover {
  color: #8f2440;
  text-decoration: underline;
}

img {
  width: 100%;
}

main figcaption {
  font-size: .9rem;
  text-align: center;
}

main p b {
  font-size: 1.125rem;
}

body p {
  font-size: .9rem;
  font-weight: normal;
}

blockquote cite {
  font-size: 1.5rem;
}

cite {
  font-size: .8rem;
  text-align: center;
}

article ol {
  list-style-type: lower-greek;
  line-height: 1.5rem;
}

footer a {
  text-decoration: none;
  color: #8f2440;
}



article dt {
  font-weight: bold;
}

aside ul {
  font-size: .8rem;
  line-height: 1.5;
  list-style-type: circle;
}
